.navbar * {
	font-size: 15px;
	line-height: 1.7em;
	font-family: 'OpenSans', Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 0 0 rgba(0, 0, 0, .5);
}
/*.navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, {
	display: table;
	content: " ";
	clear: both;
}*/
.navbar-default.navbar {
	background-color: rgba(255, 255, 255, 0.95);
	border: none;
}
/*@media (min-width: 768px){
	.navbar-header {
		float: left;
	}
}
.navbar-default .navbar-toggle {
	border-color: #ddd;
}
@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}*/


.navbar-default {z-index: 1;}
.navbar-default .navbar-nav > li > a.border {border:1px solid #00a474; border-radius: 3px; margin-bottom: 10px; color: #00a474;}
.navbar-default .navbar-nav > li > a.border:hover {border:1px solid #10b584; color: #10b584}
.navbar-default.navbar {background-color: rgba(255, 255, 255, 0.95); border: none}
.navbar-default .navbar-nav {padding-top: 10px}
.navbar-default .navbar-nav > li > a {font-weight: bold; color:#038cd5; text-shadow: 0 0 0 rgba(3, 140, 213, .5); padding-top:10px;padding-bottom:10px;}
.navbar-default .navbar-brand {padding: 15px 0; height: 62px; margin-left: 0!important;}
.navbar-default .navbar-brand-default {padding: 14px 5px; height: 40px;}
.navbar-default .navbar-logo {display: block;}
.navbar-default .navbar-phone {color: black; font-size: 14px; font-weight: 500; height: 25px; display: block; padding: 3px 9px; color: white; border-radius: 9px; margin-top: 6px; background: #3683CE;}
.navbar-default.navbar-fixed {background-color: rgba(255, 255, 255, 0.95); border:none; box-shadow: 0 0 3px #000;}
.navbar-default .navbar-nav > .active > a {color: #000; text-shadow: 0 0 0 rgba(0, 0, 0, .5);}
.navbar-default .navbar-nav > li > a:hover {color: #ff7e2a; text-shadow: 0 0 0 rgba(255, 126, 42, .5); background: none}
.navbar-default .navbar-nav > .open  {background: #e7e7e7; }
.navbar-default .navbar-nav .navbar-nav__reg-button {position: relative; bottom: 1px;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background: none; color: #000; text-shadow: 0 0 0 rgba(0, 0, 0, .5);}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background: #ffecaa; color:#000; text-shadow: 0 0 0 rgba(0, 0, 0, .5);}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {background: #ffecaa; color:#000; text-shadow: 0 0 0 rgba(0, 0, 0, .5); border-radius: 30px;}
.nav-pills  > li > a:hover {color: #ff7e2a; text-shadow: 0 0 0 rgba(255, 126, 42, .5); background: none}
.nav-pills li {display: inline-block; float: none; }
.nav-pills li a {padding:7px 20px }
.nav-pills.nav-center {text-align: center}

.navbar-fixed-top .navbar-collapse#navbar, .navbar-fixed-bottom .navbar-collapse#navbar {
	max-height: none;
}

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: -1;
	opacity: 0;
	transition: .3s all;
}

.overlay--active {
	z-index: 2;
	opacity: 1;

}
@media (max-width: 767px) {
	.navbar-default .navbar-brand {
		padding: 15px 0 15px 15px;
	}
}

#got-any-questions {margin: 40px 0 60px 0; padding: 0;}
#got-any-questions h2 {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	margin: 20px 0 30px 0;
	line-height: 45px;
}
#got-any-questions a{font-size: 20px; color: #038cd5;}
#got-any-questions b a{color: #000; text-shadow: 0 0 0 rgba(0, 0, 0, .5);}
#got-any-questions p {
	font-weight: 300;
	font-size: 15px;
}

footer {padding: 50px 0;color: #fff; text-shadow: 0 0 0 rgba(255, 255, 255, .5); background-color: #003a61;font-size: 0.9em; font-weight: 300; font-size: 14px; line-height: 25px;}
footer a {color: #fff; text-shadow: 0 0 0 rgba(255, 255, 255, .5);}
footer a:hover {color: #fff; text-shadow: 0 0 0 rgba(255, 255, 255, .6);}

.footer.with-copyright {
    padding-bottom: 40px;
}

.footer .copyright {
    margin-top: 80px;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, .5);
}


.sk-logo {
    height: 80px;
    width: 111px;
    float: left;
}

.icon40 {
	height: 40px;
	width: 40px;
	display: inline-block;
	background: url(../img/roistat_spirtes_40x40.png) 0 0 no-repeat;
}
.icon40.i53 {
	background-position: -160px -80px;
}
.icon40.i13 {
	background-position: 0 -80px;
}
.icon40.i43 {
	background-position: -120px -80px;
}
.icon40.i23 {
	background-position: -40px -80px;
}


.modal {
	top: initial;
	right: initial;
	bottom: initial;
	left: initial;
	z-index: initial;
	overflow: initial;
	-webkit-overflow-scrolling: initial;

    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    background: #fff;
    padding: 64px 100px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(540deg) scale(0);
    transition: .5s all;
    display: block !important;
}

.modal--active {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    z-index: 3;
}

.modal .modal__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 24px;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #DBDBDB;
    transition: .3s all;
}

.modal .close:hover {
    color: #000;
}

.modal .form {
    width: 760px;
}

.modal .form__input {
	line-height: initial;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    display: block;
    width: 100%;
    padding: 21px 24px;
    font-family: 'Montserrat', sans-serif;
}

.modal .form__input:nth-child(2),
.modal .form__input:nth-child(3){
    margin-bottom: 16px;
}

.modal .submit {
    /*padding: 17px 45px;*/
    margin-bottom: 16px;
    margin-top: 8px;
}

.modal .checkbox {
    display: flex;
    margin-left: 28px;
}

.modal .checkbox > input {
    display: none;
}

.modal .checkbox > label {
    position: relative;
    line-height: 20px;
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
    cursor: pointer;
}

.modal .checkbox > label::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 0;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    background: #fff;
    width: 14px;
    height: 14px;
    overflow: hidden;
}

.modal .checkbox > input:checked + label::before {
    background: url(../img/checkbox.svg) center;
    width: 16px;
    height: 16px;
    background-size: cover;
    border: transparent;
}

.modal .phone__input {
    padding-left: 120px;
}

.modal .input-group {
    position: relative;
	display: block;
}

.modal .input-group:not(:last-child) {
    margin-bottom: 16px;
}

.modal .flag-container {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal .flag-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background: url(../img/arrow-down.svg);
    background-size: cover;
    width: 12px;
    height: 8px;
    transform-origin: center center;
}

.modal .flag-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    background: #C4C4C4;
    width: 1px;
    height: 80%;
}

.modal .dropdown {
    position: absolute;
    bottom: -240px;
    border: 2px solid #C4C4C4;
    border-top: none;
    padding: 10px 0;
    background: #fff;
    font-weight: 200;
    font-size: 16px;
    z-index: 1;
}

.modal .country-item {
    display: flex;
    align-items: center;
    padding: 0 22px;
    cursor: pointer;
    transition: .2s all;
}

.modal .country-item:hover {
    background: rgba(0,0,0,.1);
}

.modal .country-item > *:not(:last-child) {
    margin-right: 10px;
}

.modal .flag {
    background-size: cover;
    width: 55px;
    height: 55px;
}

.modal .belarus {
    background: url(../img/bel.svg);
}

.modal .kazakhstan {
    background: url(../img/kaz.svg);
}

.modal .russia {
    background: url(../img/rus.svg);
}

.modal .ukraine {
    background: url(../img/ukr.svg);
}

.modal .hide {
    display: none;
}

.modal .show {
    display: block;
}

.modal .phone__input--active {
    border-bottom-left-radius: 0;
}

.modal .error {
    margin: 8px 0 24px 0;
    color: #FF6363;
}

.modal .error-field {
    border: 2px solid #FF6363;
}

.modal .highlight-error {
    font-weight: 600;
}

.modal .checkbox-link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #009FE2;
    color: #009FE2;
}

.modal .checkbox-link-error {
    border-bottom: 1px solid #FF6363;
    color: #FF6363;
}

.modal .answer {
    display: none;
    align-items: center;
}

.modal .answer-text {
    margin-left: 35px;
}

.modal .new-line {
    display: block;
    height: 5px;
}

.modal .answer-show {
    display: flex;
}
@keyframes checkboxError {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 900px) {
    .modal {
        width: 400px;
        padding: 64px 50px;
    }
    .modal__title {
        font-size: 31px;
    }
}

@media screen and (max-width: 550px) {
    .modal {
        width: 300px;
    }
    .modal__title {
        font-size: 23px;
    }
    .checkbox > label {
        line-height: 14px;
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .modal {
        width: 250px;
        padding: 30px 30px;
    }
    .modal__title {
        font-size: 19px;
    }
    .modal .checkbox > label {
        line-height: 9px;
        font-size: 9px;
    }
    .modal .form__input {
        padding: 15px 24px;
    }
    .modal .phone__input  {
        padding: 15px 26px 15px 85px;
    }
    .modal .country-image {
        width: 30px;
    }
    .modal .flag-container::after {
        left: 174%;
    }
    .modal .flag {
        background-size: cover;
        width: 39px;
        height: 30px;
    }
    .modal .country-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .modal .country-name {
        font-size: 13px;
    }
    .modal .dropdown {
        bottom: -170px;
    }
}
