@charset "UTF-8";

* {
    box-sizing: border-box;
}

div,
p,
span,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
button {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    color: #222;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}

.container {
    width: 1170px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

h1 {
    display: block;
    font-size: 36px;
    line-height: 49px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

h2 {
    display: block;
    font-size: 40px;
    line-height: 54px;
    padding: 0;
    margin: 0 0 56px 0;
    text-align: center;
    font-weight: 400;
}

.green {
    color: #1cb39b;
}

.navbar * {
    font-size: 15px;
    line-height: 1.7em;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: 300;
    text-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

.navbar-default.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
}

.navbar-default {
    z-index: 1;
}

.navbar-default .navbar-nav>li>a.border {
    border: 1px solid #00a474;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #00a474;
}

.navbar-default .navbar-nav>li>a.border:hover {
    border: 1px solid #10b584;
    color: #10b584
}

.navbar-default.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    border: none
}

.navbar-default .navbar-nav {
    padding-top: 10px
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: #038cd5;
    text-shadow: 0 0 0 rgba(3, 140, 213, .5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-brand {
    padding: 15px 0;
    height: 62px;
    margin-left: 0 !important;
}

.navbar-default .navbar-brand-default {
    padding: 14px 5px;
    height: 40px;
}

.navbar-default .navbar-logo {
    display: block;
}

.navbar-default .navbar-phone {
    color: black;
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    display: block;
    padding: 3px 9px;
    color: white;
    border-radius: 9px;
    margin-top: 6px;
    background: #3683CE;
}

.navbar-default.navbar-fixed {
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    box-shadow: 0 0 3px #000;
}

.navbar-default .navbar-nav>.active>a {
    color: #000;
    text-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff7e2a;
    text-shadow: 0 0 0 rgba(255, 126, 42, .5);
    background: none
}

.navbar-default .navbar-nav>.open {
    background: #e7e7e7;
}

.navbar-default .navbar-nav .navbar-nav__reg-button {
    position: relative;
    bottom: 1px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #000;
    text-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background: #ffecaa;
    color: #000;
    text-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background: #ffecaa;
    color: #000;
    text-shadow: 0 0 0 rgba(0, 0, 0, .5);
    border-radius: 30px;
}

.nav-pills>li>a:hover {
    color: #ff7e2a;
    text-shadow: 0 0 0 rgba(255, 126, 42, .5);
    background: none
}

.nav-pills li {
    display: inline-block;
    float: none;
}

.nav-pills li a {
    padding: 7px 20px
}

.nav-pills.nav-center {
    text-align: center
}

.navbar-fixed-top .navbar-collapse#navbar,
.navbar-fixed-bottom .navbar-collapse#navbar {
    max-height: none;
}

.got-any-questions {
    margin: 40px 0 60px 0;
    padding: 0;
}

.got-any-questions h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0 30px 0;
    line-height: 45px;
}

.got-any-questions p {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.got-any-questions .linkblock {
    text-align: center;
    margin-bottom: 20px;
}
.got-any-questions .roistat-phone {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.footer {
    padding: 50px 0;
    color: #fff;
    text-shadow: 0 0 0 rgba(255, 255, 255, .5);
    background-color: #003a61;
    font-size: 0.9em;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.footer a {
    color: #fff;
    text-shadow: 0 0 0 rgba(255, 255, 255, .5);
}

.footer a:hover {
    color: #fff;
    text-shadow: 0 0 0 rgba(255, 255, 255, .6);
}

.footer.with-copyright {
    padding-bottom: 40px;
}

.footer .copyright {
    margin-top: 80px;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, .5);
}

.footer__underlogo {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer__social {
    margin-bottom: 20px;
}

.footer__contacts {
    margin-bottom: 20px;
}

.footer__list-header {
    display: block;
    font-weight: 700;
}

.footer__list {
    margin-bottom: 15px;
}

.sk-logo {
    height: 80px;
    width: 111px;
    float: left;
}

.icon40 {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url(../img/roistat_spirtes_40x40.png) 0 0 no-repeat;
}

.icon40.i53 {
    background-position: -160px -80px;
}

.icon40.i13 {
    background-position: 0 -80px;
}

.icon40.i43 {
    background-position: -120px -80px;
}

.icon40.i23 {
    background-position: -40px -80px;
}

.article .button,
.rs-modal .button {
    display: inline-block;
}

.article button,
.article input[type="submit"],
.article .button,
.rs-modal button,
.rs-modal input[type="submit"],
.rs-modal .button {
    background: #51B187;
    padding: 0;
    color: #fff;
    transition: 0.25s;
    font-size: 16px;
    font-weight: 400;
    line-height: 53px;
    text-decoration: none;
    width: 273px;
    max-width: 100%;
    height: 53px;
    background: linear-gradient(180deg, #51B187 0%, #49A279 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.article button:hover,
.article input[type="submit"]:hover,
.article .button:hover,
.rs-modal button:hover,
.rs-modal input[type="submit"]:hover,
.rs-modal .button:hover {
    background: linear-gradient(#17c18b, #00aa78);
}

.article a,
.rs-modal a {
    text-decoration: underline;
}

.article a:hover,
.article a:focus,
.rs-modal a:hover,
.rs-modal a:focus {
    color: inherit;
    text-decoration: none;
}

.article a:focus,
.rs-modal a:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.type-text {
    width: 100%;
    line-height: 53px;
    padding: 0 8px;
    border: 0;
    border-radius: 4px;
    color: #000;
}

input::-webkit-input-placeholder {
    color: #6f6f6f;
}

input::-moz-placeholder {
    color: #6f6f6f;
}

input:-moz-placeholder {
    color: #6f6f6f;
}

input:-ms-input-placeholder {
    color: #6f6f6f;
}

.x {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
    width: 15px;
    color: #000;
}

.x::before {
    content: "×";
    font-size: 23px;
    font-family: "Times New Roman";
}

.bluebg {
    background: #003A61;
    color: #fff;
}

.display-table {
    display: table;
    width: 100%;
}

.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.orange {
    color: #FF6B00;
}

.row:after {
    cursor: pointer;
}

.titles {
    padding: 152px 0 80px;
}

.titles p {
    line-height: 27px;
    margin-bottom: 21px;
    font-size: 20px;
}

.titles p:before {
    width: 120px;
    height: 4px;
    background: #50C3FE;
    margin-bottom: 24px;
    content: '';
    display: block;
}

.titles__bg {
    text-align: center;
}

.titles__bg img {
    display: inline-block;
    width: 409px;
    max-width: 100%;
}

.titles__subtitle {
    display: block;
    color: #50AF85;
    line-height: 27px;
    margin-bottom: 8px;
    font-size: 20px;
}

.titles__title {
    margin-bottom: 11px;
    text-align: left;
}

.titles__price {
    display: inline-block;
    margin: 0 0 20px -8px;
    padding: 0 8px;
    line-height: 56px;
    color: #fff;
    background: #50C3FE;
    font-weight: 700;
    border-radius: 4px;
    font-size: 37px;
}

.titles__description {
    display: block;
    line-height: 36px;
    margin-bottom: 25px;
    font-size: 36px;
    color: #003A61;
}

.titles__button-block {
    text-align: left;
    margin-bottom: 30px;
}

.product-cards {
    padding: 56px 0 15px;
}

.product-cards__items {
    padding-top: 56px;
}

.product-cards__item {
    margin-bottom: 56px;
    height: 330px;
    padding: 0 20px;
}

.product-cards-item__imgbl {
    text-align: center;
    margin-bottom: 7px;
    height: 200px;
}

.product-cards-item__imgbl img {
    max-width: 100%;
}

.product-cards-item__imgbl>div {
    text-align: center;
}

.product-cards-item__text-block {
    text-align: center;
    font-size: 20px;
    position: relative;
}

.product-cards-item__text-block_orange {
    color: #FF6B00;
    font-weight: 700;
}

.help {
    display: inline-block;
    background: url(../img/question.svg) center center no-repeat;
    background-size: contain;
    width: 26px;
    height: 21px;
    margin-bottom: -3px;
}

.help-text {
    position: absolute;
    bottom: 34px;
    left: 50%;
    display: none;
    opacity: 0;
    transition: 1s;
    background: #fff;
    z-index: 1;
    width: 290px;
    margin-left: -145px;
    font-size: 16px;
    line-height: 27px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    color: #003A61;
}

.help-text:before {
    background: url(../img/helptextarrow.svg) center bottom no-repeat;
    position: absolute;
    width: 16px;
    height: 8px;
    left: 50%;
    bottom: -8px;
    margin-left: -8px;
    content: "";
}

.help:hover .help-text {
    display: block;
    opacity: 1;
}

.vantage-list {
    padding: 56px 0;
}

.vantage-list__item {
    padding-left: 40px;
    background: url(../img/check.svg) 5px 4px no-repeat;
    margin-bottom: 24px;
}

.vantage-list__item_head {
    line-height: 27px;
    margin-bottom: 8px;
    color: #003A61;
    font-weight: 700;
}

.vantage-list__item_text {
    margin: 8px 0 8px 32px;
    color: #6f6f6f;
    font-size: 15px;
}

.vantage-list__bg {
    text-align: center;
}

.vantage-list__bg img {
    width: 464px;
    max-width: 100%;
}

.form-block {
    padding: 56px 0;
}

.form-block h2 {
    margin-bottom: 32px;
}

.form-block .row {
    margin: 0 -8px;
}

.form-block .col-sm-4,
.form-block .col-sm-5,
.form-block .col-sm-3 {
    padding: 0 8px;
    margin-bottom: 16px;
}

.form-block__form .js-submit-data {
    width: 100%;
}

.form-block__form .js-submit-data[disabled="disabled"] {
    opacity: 0.6;
}

.form-block__form .js-submit-data[disabled="disabled"]:hover {
    cursor: default;
    background: linear-gradient(180deg, #51B187 0%, #49A279 100%);
}

.form-block__agreecheck {
    position: relative;
}

.form-block__agreecheck input[type="checkbox"] {
    margin-right: 11px;
    position: absolute;
    left: 0;
    top: 4px;
}

.form-block__agreecheck label {
    font-size: 15px;
    color: #fff;
    margin: 0 0 0 25px;
}

.answer {
    display: none;
    padding: 5px 15px;
    margin-top: 15px;
    text-align: center;
    border: 1px #fff solid;
    border-radius: 4px;
}

.bottom-block {
    background: #009FE2;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.25s;
}

.bottom-block .container {
    padding: 16px 15px 0 110px;
    background: url(../img/guy.png) 15px bottom no-repeat;
    min-height: 80px;
}

.bottom-block p {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
}

.bottom-block .x {
    top: -5px;
    right: 0px;
}

.bottom-block.closed,
.bottom-block.close {
    bottom: -300px;
}

.side-block {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    top: 50%;
    margin-top: -150px;
    height: 300px;
    right: -300px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}

.side-block .formobile {
    display: none;
    padding: 50px 0 0 0;
}

.side-block.open {
    right: -300px !important;
}

.side-block.hover,
.side-block:hover {
    right: 0 !important;
}

.side-block.closed {
    right: -350px;
}

.side-block__label {
    background: linear-gradient(to bottom, #51B187 0%, #49A279 100%), #C4C4C4;
    border-radius: 8px 8px 0px 0px;
    height: 30px;
    width: 300px;
    line-height: 30px;
    position: absolute;
    bottom: 150px;
    left: 0;
    -webkit-transform: rotate(270deg) translate(-50%);
    transform: rotate(270deg) translate(-50%);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    color: #fff;
}

.side-block__text-block {
    display: block;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.waicon {
    height: 16px;
    margin-left: 5px;
}

.whatsapp-button-block .button,
.whatsapp-button-block .button:hover {
    background: linear-gradient(180deg, #009FE2 0%, #0093D1 100%), linear-gradient(180deg, #51B187 0%, #49A279 100%);
    margin: 20px 0;
    color: #fff;
}

.qrcode-block {
    width: 100%;
    text-align: center;
}

.qrcode-block img {
    height: 150px;
}

.pointer {
    height: 18px;
    margin-right: 15px;
}

@media (max-width: 991px) {
    .bottom-block button {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 25px;
        line-height: 33px;
    }

    h2 {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 28px;
    }

    .navbar-default .navbar-brand {
        padding: 15px 0 15px 15px;
    }

    .titles {
        padding: 84px 0 40px;
    }

    .titles p {
        line-height: 22px;
        font-size: 16px;
    }

    .titles__subtitle {
        font-size: 16px;
        line-height: 22px;
    }

    .titles__price {
        font-size: 20px;
        margin: 0 0 26px 0;
    }

    .titles__description {
        font-size: 24px;
    }

    .product-cards__items {
        padding-top: 0;
    }

    .product-cards__item {
        margin-bottom: 25px;
        height: initial;
    }

    .vantage-list {
        padding-bottom: 40px;
    }

    .vantage-list__item_text {
        margin: 8px 0;
    }

    .form-block h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .bottom-block button {
        font-size: 16px;
    }

    .bottom-block p {
        font-size: 14px;
        line-height: 19px;
    }

    .bottom-block__button-block {
        margin: 10px 0 10px 0;
    }

    .side-block .formobile {
        display: block;
    }

    .side-block .fordesktop {
        display: none;
    }
}