@media (max-width: 1439px) {
  .floor1 {
    background: url(../img/fl1bg.png) 110% top no-repeat;
    background-size: 550px; } }
@media (max-width: 1199px) {
  body {
    font-size: 16px;
    line-height: 21px; }

  .row-flex-lg {
    display: block; }

  .col-lg-7, .col-lg-5, .col-lg-6, .col-lg-45, .col-lg-55 {
    width: 100%; }

  h1 {
    font-size: 32px;
    line-height: 37px;
    margin: 0 0 24px 0; }

  h2 {
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 40px 0; }

  .section {
    padding: 40px 0; }

  .floor1 {
    background: url(../img/fl1bg.png) 115% top no-repeat;
    background-size: 550px;
    padding-top: 164px; }
    .floor1 p {
      margin-bottom: 32px; }
    .floor1 .tree {
      width: 32px; }

  .floor2 {
    padding-bottom: 80px; }
    .floor2 p {
      font-size: 32px;
      line-height: 41px; }

  .floor3 {
    padding: 48px 0;
    margin-bottom: 80px; }
    .floor3 h2 {
      font-size: 40px;
      line-height: 48px; }
    .floor3 .rocket {
      width: 40px; }

  .floor3:after {
    width: 81px;
    height: 99px;
    bottom: -130px; }

  .floor3__item {
    margin-right: 30px; }
    .floor3__item h3 {
      font-size: 32px;
      line-height: 37px;
      margin: 0 0 16px 0; }

  .floor3__item:last-child {
    margin: 0; }

  .floor-form h2 {
    font-size: 32px;
    line-height: 37px; }
  .floor-form .img-block img {
    width: 261px; }
  .floor-form .gift {
    width: 38px; }

  .form-block input[type='text'] {
    height: 56px;
    line-height: 56px;
    font-size: 16px; }
  .form-block button[type='submit'] {
    height: 56px;
    line-height: 56px; }

  .floor5 {
    padding-top: 80px; }
    .floor5 h2 {
      margin-bottom: 56px; }
    .floor5 .cup {
      width: 40px; }
    .floor5 .phone, .floor5 .joystick {
      width: 18px; }

  .floor7 li {
    font-size: 14px; }

  .floor8 h2 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 32px; }
  .floor8 p {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 26px; }
  .floor8 .light {
    width: 40px; }

  .cards-row__item {
    height: 210px;
    padding: 32px 0 0 0; }

  .cards-row__img-block {
    margin-bottom: 20px; }

  .cards-row__text {
    font-size: 16px;
    line-height: 19px; } }
@media (max-width: 1023px) {
  .row-flex-md {
    display: block; }

  .col-md-7, .col-md-5, .col-md-6, .col-md-4, .col-md-8, .col-md-3, .col-md-2, .col-md-9, .col-md-70, .col-md-60, .col-md-40, .col-md-30, .col-md-20 {
    width: 100%; }

  .col-xs-6 {
    width: 50%; }

  .col-sm-4 {
    width: 33.33333333%; }

  h1 {
    text-align: center; }

  h2 {
    font-size: 32px;
    line-height: 37px; }

  button, .button {
    width: 100%;
    height: 60px;
    line-height: 60px; }

  .section {
    padding: 30px 0; }

  .floor1 {
    background: url(../img/fl1bg.png) 115% top no-repeat;
    background-size: 450px;
    padding-top: 100px; }
    .floor1 .img-block {
      margin-bottom: 40px; }
      .floor1 .img-block img {
        width: 74%; }
    .floor1 p {
      text-align: center; }
    .floor1 .tree {
      width: 32px; }

  .floor2 {
    padding-bottom: 56px; }
    .floor2 p {
      font-size: 24px;
      line-height: 31px; }

  .floor3 {
    padding: 40px 0;
    margin-bottom: 56px; }
    .floor3 h2 {
      font-size: 32px;
      line-height: 38px; }
    .floor3 .rocket {
      width: 32px; }
    .floor3 .flex {
      display: block; }

  .floor3:after {
    width: 66px;
    height: 81px;
    bottom: -90px; }

  .floor3__item {
    max-width: 100%;
    margin: 0 0 32px 0; }
    .floor3__item h3 {
      margin: 0 0 12px 0; }
    .floor3__item p {
      font-size: 18px;
      line-height: 23px; }

  .floor-form .flex {
    display: block; }
  .floor-form h2 {
    font-size: 32px;
    line-height: 37px; }
  .floor-form p {
    font-size: 20px;
    line-height: 23px; }
  .floor-form .img-block {
    display: none; }
  .floor-form .gift {
    width: 32px; }

  .form-block input[type='text'] {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 24px;
    float: left; }
  .form-block input[type='text']:nth-child(2) {
    margin-right: 0; }
  .form-block .button-block {
    width: 100%;
    margin-left: 0;
    float: left; }

  .form-block__agreecheck .agreecheck {
    top: 0; }

  .form-block__agreecheck.error .agreecheck {
    top: 8px; }

  .form-block__agreecheck {
    margin-top: 60px;
    width: 100%; }
    .form-block__agreecheck label {
      padding: 0 0 0 20px;
      font-size: 12px;
      line-height: 14px; }

  .floor5 {
    padding-top: 80px; }
    .floor5 h2 {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 40px; }
    .floor5 .cup {
      width: 32px; }
    .floor5 .phone, .floor5 .joystick {
      width: 16px; }

  .textitem {
    padding: 52px 0 0 32px; }

  .textitem__title {
    font-size: 100px;
    line-height: 100px; }

  .floor6 .card {
    margin-bottom: 24px; }
  .floor6 .description {
    font-size: 16px;
    line-height: 20px; }

  .floor8 h2 {
    font-size: 32px;
    line-height: 38px; }
  .floor8 p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 23px; }
  .floor8 .light {
    width: 32px; }

  .footer li {
    display: block;
    margin: 0 0 8px 0; } }
@media (max-width: 767px) {
  .row-flex-sm {
    display: block; }

  .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8 {
    width: 100%; }

  .col-xs-6 {
    width: 50%; }

  h1 {
    font-size: 28px;
    line-height: 34px; }

  h2 {
    font-size: 28px;
    line-height: 34px; }

  .floor1 {
    background-size: 220px;
    padding-top: 96px; }
    .floor1 .img-block img {
      width: 100%; }
    .floor1 .tree {
      width: 28px; }

  .floor2 {
    padding-bottom: 46px; }
    .floor2 p {
      font-size: 20px;
      line-height: 26px; }

  .floor3 h2 {
    font-size: 28px;
    line-height: 34px; }
  .floor3 .rocket {
    width: 28px; }

  .floor3__item {
    max-width: 100%;
    margin: 0 0 32px 0; }
    .floor3__item p {
      font-size: 16px;
      line-height: 21px; }

  .floor-form p {
    font-size: 16px;
    line-height: 19px; }

  .form-block input[type='text'] {
    width: 100%;
    margin: 0 0 16px 0; }
  .form-block input[type='text']:nth-child(2) {
    margin: 0 0 24px 0; }

  .floor5 {
    padding-top: 56px; }
    .floor5 h2 {
      font-size: 28px;
      line-height: 32px; }
    .floor5 .cup {
      width: 32px; }
    .floor5 .phone, .floor5 .joystick {
      width: 16px; }

  .floor6 .card {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    height: initial; }
  .floor6 .icon {
    margin: 0 0 20px 0; }

  .floor7 h2 {
    text-align: center; }

  .floor8 h2 {
    font-size: 28px;
    line-height: 33px;
    text-align: center; }
  .floor8 p {
    text-align: center; }
  .floor8 .light {
    width: 28px; }

  .footer .copy {
    margin-bottom: 16px; }
  .footer .flex {
    display: block; }
  .footer li {
    text-align: left; } }

/*# sourceMappingURL=mobile.css.map */
